<!-- Footer -------------------------------->
<div class="container-fluid">
  <footer class="gvc-footer">
    <hr>
    <ul class="gvc-menuLegal">
      <li><a href="http://www.valores.gvcgaesco.es/click_to_action/informacion/aviso_legal/">Información legal</a></li>
      <li><a href="http://www.valores.gvcgaesco.es/click_to_action/informacion/politica_privacidad/">Política de privacidad</a></li>
      <li><a href="http://www.valores.gvcgaesco.es/click_to_action/informacion/terminos_uso/">Términos de uso</a></li>
      <li><a href="http://www.valores.gvcgaesco.es/click_to_action/informacion/ayuda/">Ayuda</a></li>
    </ul>
    <address class="gvc-direccion">GVC Gaesco Beka, Sociedad de Valores S.A. - C/ Dr. Ferrán 3-5 P.2, 08034 de Barcelona C.I.F.: A62132352.</address>
    <p><small class="gvc-derechos">© Grupo GVC Gaesco 2018 España.Todos los derechos reservados.</small></p>
  </footer>
</div>
<!-- Footer -------------------------------->
